html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Afacad', sans-serif;
}
.navbar {
    background-color: #03396c;
    
}
.container-fluid a{
    color:white;
}
footer {
    background-color: #92d2f9;
}