<form id="myDropzone" action="/Order/Upload" class="dropzone" method="post" enctype="multipart/form-data">
    <div class="fallback">
        <input name="file" type="file" multiple />
        <button type="button" id="submit-button">Upload</button>
    </div>
</form>
<script src="~/js/upload.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>