

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" id="modalHeader">
                <h5 class="modal-title" id="myModalLabel"></h5>
                <span type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa-solid fa-xmark"></i></span>
                </span>
            </div>
            <form method="post" asp-action="EditOrderSummary">
                <div class="modal-body">
                    <input type="hidden"  />
                    <div class="modal-body">
                        <div class="mb-2">
                            <label for="gradeInput" class="form-label">Grade:</label>
                            <select class="form-select" id="gradeInput" >
                                <option value="">Select Grade</option>
                            </select>
                            <span class="text-danger" ></span>
                        </div>
                        <div class="mb-2">
                            <label for="priceInput" class="form-label">Price:</label>
                            <input type="text" class="form-control" id="priceInput" >
                            <span class="text-danger" ></span>
                        </div>
                    </div>

                    <div class="mb-2">
                        <span class="text-danger" ></span>
                        <span class="text-danger" ></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Don't Save</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>

        </div>
    </div>
</div>


<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/js/orderdetails.js"></script>
<link href="~/css/edit.css" rel="stylesheet" />
