  ﻿
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog">
        <div class="modal-content">
           
                <div class="modal-header" style="background-color:#03396c; color: white;">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <span type="button" id="closeButton" aria-label="Close"><i class="fa-solid fa-xmark"></i></span>
                </div>
                <div class="modal-body">             
                <form id="myDropzone" action="/Order/Index" class="dropzone" method="post" enctype="multipart/form-data">
                    <div class="fallback">
                        <input name="file" type="file" accept=".xls, .xlsx"/>
                    </div>
                  
                </form>
                    <div class="alert alert-danger mt-2" role="alert">
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" id="closeButton">Close</button>
                    <button class="btn btn-success" type="submit" id="submitButton">Upload</button>
                </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/js/Dropzone.js"></script>
<link href="~/css/orderdetails.css" rel="stylesheet" />

